{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>UEnquire</title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	 <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"/>
	<link rel="stylesheet" href="{% static 'chatbot/styles/landing.css' %}?{% now "U" %}"">
</head>
<body>
<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="#Features">Features</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#Mission">Mission & Vision</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#FeedBack">FeedBack</a>
				</li>
			</ul>
		</div>
	</nav>
</header>	
<div class="container">
<div class="wave">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
</div>


	<section class="home" id="home">
		<div class="content">
			<h2 class="wel">Welcome to UEnquire</h2>
			<div class="des">
			 <p>A University of the East Chatbot that utilizes Twitter using Data Classification. Hybrid system that makes use of Naive Bayes and Neural Network</p>
			 </div>
			<form action="" id="myform" method="POST">
				{% csrf_token %}
				<div class="form-group">

  				<label for="name">What is your nickname?</label>
  				<br>
  				<div class="sample">
  				<input type="text" class="form-control" id="Name" name="user_name"><br>
  				</div>
  				<input type="radio" id="male" name="gender" value="Male">
 				<label for="html">Male</label>
 				<input type="radio" id="female" name="gender" value="Female">
				<label for="css">Female</label><br>	
  				<a href="#" type="submit" id="form_btn" onclick="document.getElementById('myform').submit()" name="submitOne">Submit</a>
  				</div>
  				{% for message in messages %}
  				<script type="text/javascript">
  					window.onload = function(){
  						alert('{{message}}')
  					}
  				</script>
  				{% endfor %}
			</form>
		</div>

		<div class="image">
			<img src="{% static 'chatbot/img/chatbot-marketing.gif' %}" alt="">
		</div>
	</section>
</div>
	<section class="fetures">
		<div class="container">
  <div class="row my-4">
    <div class="col">
        <div class="container-fluid">
        <div class="main_title col-lg-12 mx-auto text-center pb-5" ><p id="Features">Features</p></div>
          <div class="row">
          	<div class="col-sm d-flex my_cards" >
          		<div class="card text-center">
          			<div class="card-header">
          				1
          			</div>
          			<div class="card card-body flex-fill">
          				
          				<p class="card-text">UEnquire use Twitter to gain access to UE related tweets which are used to enforce the validity of the chatbot.</p>
          			<!-- 	<a href="#" class="btn btn-primary">Go somewhere</a> -->
          			</div>
          		</div>
          	</div>
            
          	<div class="col-sm d-flex my_cards">
          		<div class="card text-center">
          			<div class="card-header">
          				2
          			</div>
          			<div class="card card-body flex-fill">
          				
          				<p class="card-text">Admin's management dashboard are used to manage the Chatbot and Classifier models as well as operate database objects and functions  </p>
          			<!-- 	<a href="#" class="btn btn-primary">Go somewhere</a> -->
          			</div>
          		</div>
          	</div>
            
          	<div class="col-sm d-flex my_cards">
          		<div class="card text-center">
          			<div class="card-header">
          				3
          			</div>
          			<div class="card card-body flex-fill">
          				
          				<p class="card-text">Chatbot can change and adapt through Training Datasets, can learn and eat new data 
with indirect aid from the system classifier who is also a trainable model. </p>
          				<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          			</div>
          		</div>
          	</div>
          	<div class="col-sm d-flex my_cards">
          		<div class="card text-center">
          			<div class="card-header">
          				4
          			</div>
          			<div class="card card-body flex-fill">
          				<p class="card-text">Model description for both Chatbot and Classifier are displayed in the dashboard </p>
          				<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          			</div>
          		</div>
          	</div>
            
          </div>
          
        </div>

    </div>
  </div>
</div>
	</section>

	<section class="mission_vision" id="mis_vis_id">
		<div class="container">
			<div class="overlay2"></div>
			<div class="main_title_two col-lg-12 mx-auto text-center pb-5" ><p id="Mission">Mission & Vision</p></div>
			<div class="row">
				
				<div class="col-md-6">
					<div class="vision_title">Mission</div>
					<div class="mission_body">
						<p class="p_1">
							 To develop a system that assist the University of the East's inquiry process and create a chatbot with 
adaptive capabilities. 
						</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="vision_title">Vision</div>
					<div class="vision_body">
						<p class="p_1">
							Create a system which stems many researches from various fields and serve as a pioneer tool to these 
future researchers. 

						</p>
					</div>
				</div>
			</div>
			
		</div>
	</section>

	<section class="feedback">
	<!-- 	<div class="back_feed"></div> -->
		<div class="container">
			<div class="main_title_3 col-lg-12 mx-auto text-center pb-5" ><p id="FeedBack">FeedBack Form</p></div>
			<div class="feed_main">
				<div class="feed_head">
					<h2>Send us your feedback!</h2>
					<p>Do you have a suggestion or found some bug?
						let us known in the field bellow
					</p>
					<!-- <p>let us known in the field bellow</p> -->
				</div>
				
				<hr>
<br>
			<form action="" method="POST" id="myForm_feed">
				{% csrf_token %}
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="inputAddress">Name:</label>
						<input type="text" class="form-control" name="feedback_name" id="feedback_name" placeholder="Enter name" required>
					</div>
					<div class="form-group col-md-8">
						<label for="inputEmail4">Email:</label>
						<input type="email" class="form-control" name="feedback_email" id="feedback_email" placeholder="Enter email" required>
					</div>

				</div>
				<div class="form-group">
					<label for="inputAddress2">Subject:</label>
					<input type="text" class="form-control" name="feedback_subject" id="feedback_subject" placeholder="Enter subject" required>
				</div>
				<div class="form-group">
					<label for="exampleFormControlTextarea1">Message:</label>
					<textarea class="form-control" name="feedback_message" id="feedback_message" rows="3" placeholder="Enter message" required></textarea>
				</div>
				<button type="submit" name="feedbak_form" class="btn btn-primary">Submit</button>


			</form>

			</div>
			<div class="but_wave">
				<div class="new_wave n_wave1"></div>
				<div class="new_wave n_wave2"></div>
				<div class="new_wave n_wave3"></div>
				<div class="new_wave n_wave4"></div>
			</div>
		</div>
	</section>
	{% include 'chatbot/footer.html' %}



<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.2/dist/sweetalert2.all.min.js"></script>



<script type="text/javascript">
	$("#myForm_feed").on("submit", function(e){
	e.preventDefault();
		var url = '{% url "chatbot:create" %}'
		$.ajax({
			type:'POST',
			url:url,
			data:{
				feedback_name:$('#feedback_name').val(),
				feedback_email:$('#feedback_email').val(),
				feedback_subject:$('#feedback_subject').val(),
				feedback_message:$('#feedback_message').val(),
				csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
			},
			success:function(data){
				Swal.fire({
					position: 'center',
					icon: 'success',
					title: data,
					showConfirmButton: false,
					timer: 1600
				})
				$('#feedback_name').val('');
				$('#feedback_email').val('');
				$('#feedback_subject').val('');
				$('#feedback_message').val('');
			}
		});
	});


	// const buttons = document.querySelectorAll('a');
	// buttons.forEach(btn =>{
	// 	btn.addEventListener('click', function(e){

	// 		let x = e.clientX - e.target.offsetLeft;
	// 		let y = e.clientY - e.target.offsetTop;

	// 		let ripples = document.createElement('span');
	// 		ripples.style.left = x + 'px';
	// 		ripples.style.top = y + 'px';
	// 		this.appendChild(ripples);

	// 		setTimeout(()=>{
	// 			ripples.remove()
	// 		},1000);
	// 	})
	// })


// function setCookie(name,value,days) {
//     var expires = "";
//     if (days) {
//         var date = new Date();
//         date.setTime(date.getTime() + (days*24*60*60*1000));
//         expires = "; expires=" + date.toUTCString();
//     }
//     document.cookie = name + "=" + (value || "")  + expires + "; path=/";
// }
// function getCookie(name) {
//     var nameEQ = name + "=";
//     var ca = document.cookie.split(';');
//     for(var i=0;i < ca.length;i++) {
//         var c = ca[i];
//         while (c.charAt(0)==' ') c = c.substring(1,c.length);
//         if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
//     }
//     return null;
// }
// function eraseCookie(name) {   
//     document.cookie = name+'=; Max-Age=-99999999;';  
// }

</script>

</body>
</html>