{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} {% endblock %}</title>

	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"> -->


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- <link rel="stylesheet" href="{% static 'chatbot/styles/bootstrap.css' %}?{% now "U" %}""> -->

	
	<link rel="stylesheet" href="{% static 'twitter/styles/side.css' %}?{% now "U" %}"">
	<!-- ======================================================= BOOTSTRAP2 ==================================-->
	<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" rel="stylesheet" id="bootstrap-css">

	<!-- ======================================================= CSS table ==================================-->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css"/>
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">



	<!-- ======================================================= MAIN CSS ==================================-->
	<link rel="stylesheet" href="{% static 'twitter/styles/admin.css' %}?{% now "U" %}"">
	<!-- ======================================================= BOOTSTRAP ==================================-->
	

	

</head>
<body>
	{% include 'twitter/sidebar_and_head/sidebar.html' %}

	{% block content %}


    {% endblock %}




<!-- REFERENCE LINKS -->
<!-- https://editor.datatables.net/examples/inline-editing/submitData.html -->
<!-- https://datatables.net/extensions/buttons/examples/initialisation/export.html -->
<!-- ======================================================= javascript table ==================================-->


<!-- =======================  Search Table ================================= -->

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.colVis.min.js"></script>

{% block scripts %}
{% endblock scripts %}

<script type="text/javascript">
 $(document).ready(function() {
    $('table.table').DataTable( {
        dom: 'Bfrtip',
        "pagingType": "full_numbers",
        "order": [[ 0, "desc" ]],
        "scrollY": 400,
        "scrollX": true,

        "language": {
            "lengthMenu": "Display _MENU_ records per page",
            "zeroRecords": "No transaction found",
            "info": "Showing page _PAGE_ of _PAGES_",
            "infoEmpty": "No records available",
            "infoFiltered": "(filtered from _MAX_ total records)"
        },
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        select: true

    } );

} );


	

function isInputNumber(evt){
                
    var ch = String.fromCharCode(evt.which);
                
    if(!(/[0-9]/.test(ch))){
      evt.preventDefault();
    }           
}

</script>
</body>
</html>