@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;

  --main-color:rgb(204, 52, 52);
}

html {
  box-sizing: border-box;
  height: 100%;
}
.swal2-popup{
    width: 400px !important;
  }
  .swal2-title{
    font-size: 21px!important;
  }
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
table{
  table-layout: fixed!important;
  width: 100%;
}
body{
  height: 100%;
  margin: 0;
  background-image: var(--body-bg);
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.container-fluid{
  max-width: 1343px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
/*=================================SECOND NAV ===========================================*/
[data-tab-content] {
  display: none;
}


.active[data-tab-content] {
  display: block;
}



.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: #CCC;
}

.tab:hover {
  background-color: #AAA;
}

/*.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}*/
/*=================================SECOND NAV ===========================================*/

/*==============================================DROP DOWN START============================*/
.fex_form{
  display: flex;
  gap: 1rem;
}
.back_back{
  margin-right: 50px;
}
.header{
  background:linear-gradient(90deg,#E71B24, #C41922);
  display: flex;
  align-items: baseline;
  padding:1rem;
  justify-content: space-between;
}
.link{
  background: none;
  border: none;
  text-decoration: none;
  color: #ECF0F1;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  transition: 0.3s;
}
.dropdown1.active > .link,
.link:hover{
  font-weight: 700;
    color: #FDFEFE;
    transform: scale(1.05);
}

.select_css{

  margin-bottom: 10px;
}
.dropdown1{
  position: relative;
}
.dropdown-menu1{
  width: 100%;
  position: absolute;
  left: 0;
  top: calc(100% + .25rem);
  /*background-color: #fff;*/
  padding:2px;
 /* border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgb(0, 0, 0, .1);*/
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 159ms ease-in-out, transform 150ms ease-in-out;
}
.dropdown1.active > .link + .dropdown-menu1{
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.main_head h2{
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
/*================================LOST AND FOUND START============================================*/

.main_LostFound{
  width: 1000px;
  background-color: #fff;
  padding:30px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.radio_c{
  display: flex;
  margin-bottom: 10px;
}

.date1 label{
    margin-left: 17px;
    position: absolute;
    top: 0px;
}

.date1{
    margin-top: 2rem;
}


/*================================LOST AND FOUND END============================================*/
/*==============================================DROP DOWN END============================*/


/*==============================================FORM HEAD============================*/
/*================================LOST TABLE==============================================*/


/*================================END LOST TABLE==============================================*/
.link_flex_two{
width: inherit;
}
/*.link_back_two{
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex-grow: 1;
}
*/
.links_header_two{
  font-size: medium;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  border-bottom: var(--border);
  background: linear-gradient(90deg,#E71B24, #C41922);
  color: #fff;
  font-weight: 700;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}
.table_links_two{
  padding: 10px;
}
.activity-card_two_two{
    background: #fff;
    border-radius: 7px;
    max-width: inherit;
}
.activity-card_two_two h3 {
    color: #fff;
    margin: 1rem;
}

.activity-card_two_two form{
    padding: 1rem;
    margin-right: 27px;
}
.activity-card_two_two form h3{
    color: black;
}
.activity-card_two_two form input{
    margin: 1rem;
}
.activity-card_two_two table {
    width: 1000px;
    border-collapse: collapse;
}

.activity-card_two_two thead {
    background: #efefef;
    text-align: left;
}
.table_res_two{
   height:20rem;
   overflow:auto;  
}

.table_two{
  white-space:nowrap;
  border-collapse:collapse; 
  table-layout:fixed; 
  width:310px;

}
.table_two td{
  border:solid 1px #D5D8DC;
  width:100px;
  word-wrap:break-word!important;
}
.table_two th, .table_two td{
  padding: 10px 10px 10px 15px;

}
td{
    white-space: -o-pre-wrap!important; 
    word-wrap: break-word!important;
    white-space: pre-wrap!important; 
    white-space: -moz-pre-wrap!important; 
    white-space: -pre-wrap!important; 
}

.link_tb_two td a{
  text-decoration: none;
}
.link_tb_two td a:hover{
  color: #C41922;
}
/*================================LINKS TABLE==============================================*/
.link_flex{
width: 1000px;
}
.link_back{
  /*max-width: 83rem;
  min-width: 18rem;*/
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex-grow: 1;
}

.links_header{
  font-size: medium;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  border-bottom: var(--border);
  background: linear-gradient(90deg,#E71B24, #C41922);
  color: #fff;
  font-weight: 700;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}
.table_links{
  padding: 10px;
}
.activity-card_two{
    background: #fff;
    border-radius: 7px;
    max-width: 112rem;
}
.activity-card_two h3 {
    color: #fff;
    margin: 1rem;
}

.activity-card_two form{
    padding: 1rem;
    margin-right: 27px;
}
.activity-card_two form h3{
    color: black;
}
.activity-card_two form input{
    margin: 1rem;
}
.activity-card_two table {
    width: 100%;
    border-collapse: collapse;
}

.activity-card_two thead {
    background: #efefef;
    text-align: left;
}
.table_res{
   height:20rem;
   overflow:auto;  
}

.table{
  white-space:nowrap;

}
.table th, .table td{
  padding: 10px 10px 10px 15px;

}

.link_tb td a{
  text-decoration: none;
}
.link_tb td a:hover{
  color: #C41922;
}
tbody tr:nth-child(even) {
    background: #f9fafc;
}
/*================================END LINKS TABLE==============================================*/
/*
.backForm{
}*/



.backForm button{
  background-color: #f44336;
  border: 1px solid #fff;
  color: white;
  padding: 7px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.backForm button:hover{
   background-color: #C41922;
}


@media screen and (max-width: 1066px){
  .link_flex{
    width: 800px;
  }
  .main_LostFound{
    width: 800px;
  }
  @media screen and (max-width: 866px){
    .link_flex{
      width: 400px;
    }
    .main_LostFound{
      width: 400px;
    }
  }
  @media screen and (max-width: 520px){
    .link_flex{
      width: 390px;
    }
    .main_LostFound{
      width: 350px;
      margin: 0;
    }
    .msger {
    margin:0;
}

  }
   @media screen and (max-width: 430px){
    .link_flex{
        width: 230px;
    }
    .main_LostFound{
    position: absolute;
    width: 322px;
    left: -59px;
    }
    
   }
   @media screen and (max-width: 334px){
    .main_LostFound{
       width: 300px;
    }
   }
}





/*==============================================FORM HEAD END============================*/


/*================================CHATBOT============================================*/
.main_body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  height: 100%;
  margin-bottom: 10px;
  width: min(96%,900px);
}
.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: min(100%,901px);
  margin: 25px 10px;
  height: calc(100% - 50px);
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}

.msger-header {
  /* display: flex; */
  font-size: medium;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  border-bottom: var(--border);
  background: linear-gradient(90deg,#E71B24, #C41922);
  color: #fff;
  font-weight: 700;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
}
.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}

.msger-input {
  flex: 1;
  background: #ddd;
}
.msger-faq-btn{
  background: var(--main-color);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
  margin-left: 13px;
}

.msger-send-btn {
  margin-left: 10px;
  background: var(--main-color);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}
.msger-faq-btn:hover,
.msger-send-btn:hover {
  background: rgb(170, 38, 38);
}

.msger-chat {
  background-color: #fcfcfe;
}
.msg-img {
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}



/*================================APPEND START============================================*/
.butnew{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap:7px;
  grid-row-gap: 1px;
}
.butnew button{
  padding: 5px;
  border-radius: 14px;
  cursor: pointer;
  color: black;
  border: 1px solid var(--main-color);
  margin-left: 5px;
  margin-bottom: 15px;
}
.butnew button:hover{
  background-color: var(--main-color);
  color:#fff;
}
#mic{
  font-size: 1rem;
  margin-right: -9px;
  cursor: pointer;
  color: rgb(66, 66, 70);
  transition: background 0.23s;
}


.msger-inputarea span:hover{
  background-color: rgb(253, 159, 159);
}
#mic:active{
  font-size: 1.1rem;
}
#try22{
  width: 50px;
  height: 50px;
}

.iconClass{
  padding: 0px;
}

.popup{
  background-color: #ffffff;
  width: 398px;
  padding: 17px 44px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  font-family: "Poppins",sans-serif;
  display: none;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all 0.2s ease-in-out; 
}
.popup button{
  display: block;
  margin: 0 0 -11px auto;
  background-color: transparent;
  font-size: 30px;
  color: #c5c5c5;
  border: none;
  outline: none;
  cursor: pointer;
}
.popup p{
  font-size: 14px;
  text-align: justify;
  margin: 20px 0;
  line-height: 25px;
}
/*================================APPEND END============================================*/

/*================================CHATBOT END============================================*/



.pre{
  font-family: Helvetica, sans-serif !important;
  word-wrap: break-word;
  white-space: pre-wrap;
}

@media screen and (max-width: 1066px){

}
@media (max-width: 414px){
  .msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
  }

  @media (max-width: 375px){
    .msger-inputarea * {
      padding: 7px;
      border: none;
      border-radius: 3px;
      font-size: 13px;
    }
    @media (max-width: 360px){
      .msger-inputarea * {
        padding: 5px;
        border: none;
        border-radius: 3px;
        font-size: 13px;
      }

      @media (max-width: 320px){
        .msger-inputarea * {
          padding: 5px;
          border: none;
          border-radius: 3px;
          font-size: 12px;
        }
      }
    }
  }   
}
@media (max-width: 375px){
  .msger-faq-btn{
    margin-left: 5px !important;
  }
  @media (max-width: 360px){
    .msger-faq-btn{
      margin-left: 5px;
    }
  }
}



@media (max-width: 615px){
  .msg-bubble {
    max-width: 350px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
  }
  .msger{
    margin: 2rem 0 0 0;
  }
  .butnew {
    grid-template-columns: repeat(2,1fr)!important;
  }

  @media (max-width: 494px){
    .msg-bubble {
      max-width: 290px;
      padding: 15px;
      border-radius: 15px;
      background: var(--left-msg-bg);

    }
    @media (max-width: 405px){
      .msg-bubble {
        max-width: 250px;
        padding: 15px;
        border-radius: 15px;
        background: var(--left-msg-bg);

      }
      @media (max-width: 365px){
        .msg-bubble {
          max-width: 200px;
          padding: 15px;
          border-radius: 15px;
          background: var(--left-msg-bg);

        }
      }

    }
  }
}

